table{
    border-collapse: collapse;
    margin: 20px auto;
}
th[colspan]{
    background-color: aqua;
    color: rgb(23, 131, 227);
    font-size: 20px;
}
th,td{
    padding: 10px;
    text-align: center;
}

